5.1 Listing Tables in a Schema

In [ ]:
select 
    t.table_name
from 
    information_schema.tables as t
where 
    t.table_schema = 'dbo'

5.2 Listing a Table's Columns

In [ ]:
select 
    c.column_name,
    c.data_type,
    c.ordinal_position
from 
    information_schema.columns as c
where 
    c.table_schema = 'dbo'
    and c.table_name = 'EMP'

5.3 Listing Indexed Columns for a Table

In [4]:
select 
    a.name as table_name,
    b.name as index_name,
    d.name as column_name,
    c.index_column_id
from 
    sys.tables a,
    sys.indexes b,
    sys.index_columns c,
    sys.columns d
where 
    a.object_id = b.object_id
    and b.object_id = c.object_id
    and b.index_id = c.index_id
    and c.object_id = d.object_id
    and c.column_id = d.column_id
    and a.name = 'EMP'

5.4 Listing Constraints on a Table

In [5]:
select 
    a.table_name,
    a.constraint_name,
    b.column_name,
    a.constraint_type
from 
    information_schema.table_constraints a,
    information_schema.key_column_usage b
where 
    a.table_name = 'EMP'
    and a.table_schema = 'dbo'
    and a.table_name = b.table_name
    and a.table_schema = b.table_schema
    and a.constraint_name = b.constraint_name

5.6 Using SQL to Generate SQL

In [6]:
select 'select count(*) from ' + table_name +';' cnts
from information_schema.tables;

cnts
select count(*) from EMP;
select count(*) from DEPT;
select count(*) from T1;
select count(*) from T10;
select count(*) from T100;