<span style="color: var(--vscode-foreground);">1.1 Retrieving All Rows and Columns from a Table</span>

In [ ]:
select * from dbo.emp

1.2 Retrieving a Subset of Rows from a Table

In [ ]:
select * from dbo.emp where deptno = 10

1.3 Finding Rows That Satisfy Multiple Conditions

In [ ]:
select 
    *
from 
    dbo.EMP
where 
    DEPTNO = 10
    or COMM is not NULL
    or SAL <= 2000 and DEPTNO = 20

-- The presence of paretheses causes condition within them to be evaluated together

select 
    *
from 
    dbo.EMP
where 
    (
        DEPTNO = 10
        or COMM is not NULL
        or SAL <= 2000
    ) 
    and DEPTNO = 20

1.4 Retrieving a Subset of Columns from a Table

In [ ]:
select
    ENAME,
    DEPTNO,
    SAL
from 
    dbo.EMP

1.5 Providing Meaningful Names for Columns

In [ ]:
select
    sal as salary,
    comm as commission
from 
    dbo.EMP

1.6 Referencing as Aliased Column in the WHERE Clause

In [ ]:
select 
    *
from 
(
    select 
        sal as salary,
        comm as commission
    from 
        dbo.EMP
) as inline_view
where 
    salary < 5000

1.7 Concatenating Column Values

In [ ]:
select 
    ENAME + ' WORKS AS A ' + JOB as msg
from 
    dbo.EMP

1.8 Using Conditional Logic in a SELECTÂ  Statement

In [ ]:
select 
    ENAME,
    SAL,
    case 
        when SAL <= 2000 then 'UNDERPAID'
        when SAL >= 4000 then 'OVERPAID'
        else 'OK'
    end as STATUS
from 
    dbo.EMP

1.9 Limiting the Number of Rows Returned

In [ ]:
select top 5 
    *
from 
    dbo.EMP

1.10 Returning n Random Records from a Table

In [ ]:
select top 5
    ENAME,
    JOB
from 
    dbo.EMP
order by newid()

1.11 Finding Null Values

In [ ]:
select 
    *
from 
    dbo.EMP
where COMM is null

1.12 Transforming Nulls into Real Values

In [ ]:
select 
    coalesce(comm, 0)
from 
    dbo.EMP

-- alternative form 
select 
    case
        when comm is not null then comm
        else 0
    end
from 
    dbo.EMP

1.13 Searching for Patterns

In [ ]:
select
    ename,
    job
from 
    dbo.EMP
where 
    deptno in (10,20)
    and (ename like '%I%' or job like '%ER')