2.1 Returning Query Results in a Specified Order

In [ ]:
select
    ename,
    job,
    sal
from 
    dbo.EMP
where 
    deptno = 10
order by sal asc -- asc is default value

-- is possible use number of column rather than column name
select
    ename, 
    job,
    sal -- third column
from 
    dbo.EMP
where 
    deptno = 10
order by 3 desc

2.2 Sorting by Multiple Fields

In [ ]:
select 
    empno,
    deptno,
    sal,
    ename,
    job
from 
    dbo.EMP
order by deptno asc, sal desc

2.3 Sorting by Substrings

In [ ]:
select 
    ename, 
    job,
    substring(job, len(job) -2, 2)  as job_substring
from 
    dbo.EMP
order by substring(job, len(job) -2, 2)

2.4 Sorting Mixed Alphanumeric Data

In [ ]:
drop view V;

In [ ]:
create view V
as
select 
    ename + ' ' + convert(varchar, deptno) as [data]
from 
    dbo.EMP;

In [ ]:
-- sorting view V by DEPTNO
select 
    [data],
    translate([data] , '0123456789', '##########') as translated_data,
    replace(translate([data] , '0123456789', '##########'), '#', '') as first_replaced_translate,
    replace([data], replace(translate([data] , '0123456789', '##########'), '#', ''), '') as second_replaced_translate 
from 
    dbo.V
order by replace([data], replace(translate([data] , '0123456789', '##########'), '#', ''), '');

-- sorting view V by ENAME 
select 
    [data]
from 
    dbo.V
order by replace([data], translate([data] , '0123456789', '##########'), '')

2.5 Dealing with Nulls When Sorting

In [ ]:
select 
    ename,
    sal,
    comm
from 
    dbo.EMP
order by comm desc

-- sort non-null values in ascending and null values last
select 
    ename,
    sal,
    comm
from 
(
    select 
        ename,
        sal,
        comm,
        case 
            when comm is null then 0
            else 1
        end as is_null
    from 
        dbo.EMP
) as emp_with_is_null
order by is_null desc, comm asc

-- sort non-null values in descending and null values last
select 
    ename,
    sal,
    comm
from 
(
    select 
        ename,
        sal,
        comm,
        case 
            when comm is null then 0
            else 1
        end as is_null
    from 
        dbo.EMP
) as emp_with_is_null
order by is_null desc, comm desc

-- sort non-null values in ascending and null values first
select 
    ename,
    sal,
    comm
from 
(
    select 
        ename,
        sal,
        comm,
        case 
            when comm is null then 0
            else 1
        end as is_null
    from 
        dbo.EMP
) as emp_with_is_null
order by is_null asc, comm asc

-- sort non-null values in descending and null values first
select 
    ename,
    sal,
    comm
from 
(
    select 
        ename,
        sal,
        comm,
        case 
            when comm is null then 0
            else 1
        end as is_null
    from 
        dbo.EMP
) as emp_with_is_null
order by is_null asc, comm desc

2.6 Sorting on a Data-Dependent Key

In [ ]:
select
    ename,
    sal,
    job,
    comm
from
    dbo.EMP
order by 
    case 
        when job = 'SALESMAN' then comm
        else sal
    end

-- alternative solution 
select 
    ename,
    sal,
    job,
    comm,
    case 
        when job = 'SALESMAN' then comm
        else sal
    end as ordered
from 
    dbo.EMP
order by 5